@model List<CRUD.Models.ViewModels.ListProductosViewModel>
@{
    ViewBag.Title = "Mis Productos";
}

<h2>@ViewBag.Title</h2>

<div class="row" style="text-align:right;padding:5px;">
    <a href="~/Productos/NuevoP" class="btn btn-primary">Nuevo Producto</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>SKU</th>
                <th>Descripción</th>
                <th>Valor</th>
                <th>Tienda</th>
                <th>Imagen</th>
                <th></th>
            </tr>
            @foreach (var oT in Model)
            {
        <tr>
                <td>@oT.Nombre</td>
                <td>@oT.SKU</td>
                <td>@oT.Descripcion</td>
                <td>@oT.Valor</td>
                <td>@oT.Tienda</td>
                <td>@oT.Imagen</td>
            <td>
                <a class="btn btn-default" href="~/Productos/EditarP/@oT.SKU">Editar</a>
                <a class="btn btn-danger" href="~/Productos/EliminarP/@oT.SKU">Eliminar</a>
            </td>
        </tr>
            }

        </table>

    </div>

</div>